html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  color: #333;
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
  color: #0064c8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #0050a0;
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  border-radius: 2px;
}

input:disabled {
  color: #cccccc;
}

button {
  color: #333333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999999;
}

button:focus-visible {
  border: 1px white solid;
  margin: -1px;
}

button:not(:disabled):active {
  background-color: #dddddd;
}

.volume-button {
  margin-right: 15px;
}

.volume-button:focus-visible {
  margin-right: 14px;
}

.container {
  display: grid;
  gap: 10px;
  align-items: center;
}

.container.with-volume {
  grid-template-columns: 1fr 1fr 2fr 3fr;
}

.container.without-volume {
  grid-template-columns: 1fr 1fr 1fr;
}

.volume-control {
  width: 100px;
  position: relative;
}

.slider {
  position: relative;
  height: 8px;
  background-color: grey;
  border-radius: 2px;
  cursor: pointer;
}

.slider:focus-visible {
  outline: none;
  box-shadow: 0 0 0 1px #d3d3d3;
}

.slider-fill {
  position: absolute;
  height: 100%;
  background-color: Green;
  border-radius: 2px;
}

.slider-thumb {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: LimeGreen;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  cursor: pointer;
}